exclude: 'node_modules|.git'
default_stages: [commit]
fail_fast: false


repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        name: "Run ruff import sorter"
        args: ["--select=I", "--fix"]

      - id: ruff
        name: "Run ruff linter"

      - id: ruff-format
        name: "Run ruff formatter"

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or:
          - javascript
          - vue
        additional_dependencies:
          - prettier
          - prettier-plugin-tailwindcss
        exclude: |
            (?x)^(
                frappe/public/dist/.*|
                .*node_modules.*|
                .*boilerplate.*|
                .*src.*.js|
                builder/public/js/identify.js|
            )$

ci:
    autoupdate_schedule: weekly
    skip: []
    submodules: false
