include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include builder *.css
recursive-include builder *.csv
recursive-include builder *.html
recursive-include builder *.ico
recursive-include builder *.js
recursive-include builder *.json
recursive-include builder *.md
recursive-include builder *.png
recursive-include builder *.py
recursive-include builder *.svg
recursive-include builder *.txt
recursive-exclude builder *.pyc