<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>
	<link rel="icon" href="/assets/builder/images/frappe_black.png"  media="(prefers-color-scheme: light)"/>
	<link rel="icon" href="/assets/builder/images/frappe_white.png"  media="(prefers-color-scheme: dark)"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block meta_block %}
		{% include "templates/includes/meta_block.html" %}
	{% endblock %}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	{% for (font, options) in fonts.items() %}
	<link href="https://fonts.googleapis.com/css2?family={{ font }}:wght@{{ ";".join(options.weights) }}&display=swap" rel="stylesheet">
	{% endfor %}
	<link rel="stylesheet" href="{{ style_file_path }}">
	{{ style }}
	{% block style %}
		{%- if styles -%}
			{% for style_path in styles %}
				<link rel="stylesheet" href="{{ style_path }}">
			{% endfor %}
		{%- endif -%}
	{%- endblock %}
</head>
<body>
	{% block page_content %}
	{{ content }}
	{% endblock %}
	{% block script %}
		{%- if scripts -%}
			{% for script_path in scripts %}
				<script src="{{ script_path }}"></script>
			{% endfor %}
		{%- endif -%}
	{%- endblock %}
</body>
</html>