<!DOCTYPE html>
<!-- Made with Frappe Builder -->
<html lang="en">
<head>
	{% if base_url %}
	<base href="{{ base_url }}">
	{% endif %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if disable_indexing %}
	<meta name="robots" content="noindex, nofollow">
	{% endif %}
	{% if canonical_url %}
	<link rel="canonical" href="{{ canonical_url }}" />
	{% endif %}
	<title>{{title}}</title>
	<link rel="icon" href="{{ favicon_light or favicon or '/assets/builder/images/frappe_black.png' }}"  media="(prefers-color-scheme: light)"/>
	<link rel="icon" href="{{ favicon_dark or favicon or '/assets/builder/images/frappe_white.png' }}"  media="(prefers-color-scheme: dark)"/>
	{% block meta_block %}{% include "templates/includes/meta_block.html" %}{% endblock %}
	<link rel="stylesheet" href="/assets/builder/reset.css?v=1" media="screen">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	{% for (font, options) in fonts.items() %}<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family={{ font }}:wght@{{ ";".join(options.weights) }}&display=swap" media="screen">{% endfor %}
	{{ style }}
	{%- if css_variables -%}
	<style>
		:root {
			{% for key, value in css_variables.items() %}
			{{ key }}: {{ value }};
			{% endfor %}
		}
	</style>
	{%- endif -%}
	{%- if custom_fonts -%}
	<style>{% for font in custom_fonts %}@font-face {font-family: "{{ font.font_name }}";src: url("{{ font.font_file }}");}{% endfor %}</style>
	{%- endif -%}
	{% block style %}
		{%- if styles -%}
			{% for style_path in styles %}
			<link rel="stylesheet" href="{{ style_path }}">
			{% endfor %}
		{%- endif -%}

	{%- endblock %}
	{%- if _head_html %}
	{{ _head_html|safe }}
	{%-endif -%}
</head>
{% block page_content %}
{{ content }}
{% endblock %}
</html>