@layer base {
	:root {
		--outline-amber-1: rgb(254 237 169);
		--outline-amber-2: rgb(251 204 85);
		--outline-blue-1: rgb(167 215 253);
		--outline-blue-2: rgb(2 137 247);
		--outline-gray-1: rgb(237 237 237);
		--outline-gray-2: rgb(226 226 226);
		--outline-gray-3: rgb(199 199 199);
		--outline-gray-4: rgb(153 153 153);
		--outline-gray-5: rgb(56 56 56);
		--outline-gray-modals: rgb(237 237 237);
		--outline-green-1: rgb(185 238 204);
		--outline-green-2: rgb(155 228 182);
		--outline-orange-1: rgb(244 176 127);
		--outline-red-1: rgb(255 216 216);
		--outline-red-2: rgb(253 194 194);
		--outline-red-3: rgb(247 149 150);
		--outline-red-4: rgb(224 54 54);
		--outline-white: rgb(255 255 255);
		--surface-amber-1: rgb(255 247 211);
		--surface-amber-2: rgb(219 119 6);
		--surface-blue-1: rgb(230 244 255);
		--surface-blue-2: rgb(2 137 247);
		--surface-cards: rgb(255 255 255);
		--surface-cyan-1: rgb(221 247 255);
		--surface-gray-1: rgb(248 248 248);
		--surface-gray-2: rgb(243 243 243);
		--surface-gray-3: rgb(237 237 237);
		--surface-gray-4: rgb(226 226 226);
		--surface-gray-5: rgb(82 82 82);
		--surface-gray-6: rgb(56 56 56);
		--surface-gray-7: rgb(23 23 23);
		--surface-green-1: rgb(242 253 244);
		--surface-green-2: rgb(228 250 235);
		--surface-green-3: rgb(48 166 109);
		--surface-menu-bar: rgb(248 248 248);
		--surface-modal: rgb(255 255 255);
		--surface-orange-1: rgb(255 239 228);
		--surface-pink-1: rgb(253 232 245);
		--surface-red-1: rgb(255 231 231);
		--surface-red-2: rgb(255 216 216);
		--surface-red-3: rgb(253 194 194);
		--surface-red-4: rgb(204 41 41);
		--surface-red-5: rgb(181 42 42);
		--surface-red-6: rgb(148 31 31);
		--surface-selected: rgb(255 255 255);
		--surface-violet-1: rgb(240 235 255);
		--surface-white: rgb(255 255 255);
		--text-icons-amber-1: rgb(255 247 211);
		--text-icons-amber-2: rgb(231 153 19);
		--text-icons-amber-3: rgb(219 119 6);
		--text-icons-blue-1: rgb(230 244 255);
		--text-icons-blue-2: rgb(0 123 224);
		--text-icons-blue-3: rgb(0 92 163);
		--text-icons-cyan-1: rgb(59 189 229);
		--text-icons-gray-1: rgb(237 237 237);
		--text-icons-gray-2: rgb(226 226 226);
		--text-icons-gray-3: rgb(199 199 199);
		--text-icons-gray-4: rgb(153 153 153);
		--text-icons-gray-5: rgb(124 124 124);
		--text-icons-gray-6: rgb(82 82 82);
		--text-icons-gray-7: rgb(82 82 82);
		--text-icons-gray-8: rgb(56 56 56);
		--text-icons-gray-9: rgb(23 23 23);
		--text-icons-green-1: rgb(242 253 244);
		--text-icons-green-2: rgb(48 166 109);
		--text-icons-green-3: rgb(22 121 76);
		--text-icons-pink-1: rgb(227 74 166);
		--text-icons-red-1: rgb(255 247 247);
		--text-icons-red-2: rgb(247 149 150);
		--text-icons-red-3: rgb(224 54 54);
		--text-icons-red-4: rgb(204 41 41);
		--text-icons-violet-1: rgb(104 70 227);
		--text-icons-white: rgb(255 255 255);
	}
	[data-theme="dark"] {
		--outline-amber-1: rgb(130 65 8);
		--outline-amber-2: rgb(130 65 8);
		--outline-blue-1: rgb(21 89 153);
		--outline-blue-2: rgb(21 89 153);
		--outline-gray-1: rgb(35 35 35);
		--outline-gray-2: rgb(52 52 52);
		--outline-gray-3: rgb(66 66 66);
		--outline-gray-4: rgb(128 128 128);
		--outline-gray-5: rgb(237 237 237);
		--outline-gray-modals: rgb(52 52 52);
		--outline-green-1: rgb(11 97 57);
		--outline-green-2: rgb(10 63 39);
		--outline-orange-1: rgb(130 57 6);
		--outline-red-1: rgb(98 27 24);
		--outline-red-2: rgb(76 24 24);
		--outline-red-3: rgb(98 27 24);
		--outline-red-4: rgb(156 32 32);
		--outline-white: rgb(28 28 28);
		--surface-amber-1: rgb(55 30 6);
		--surface-amber-2: rgb(197 116 17);
		--surface-blue-1: rgb(14 32 55);
		--surface-blue-2: rgb(21 128 216);
		--surface-cards: rgb(28 28 28);
		--surface-cyan-1: rgb(11 37 45);
		--surface-gray-1: rgb(35 35 35);
		--surface-gray-2: rgb(255 255 255 / 0.1);
		--surface-gray-3: rgb(255 255 255 / 0.18);
		--surface-gray-4: rgb(66 66 66);
		--surface-gray-5: rgb(212 212 212);
		--surface-gray-6: rgb(175 175 175);
		--surface-gray-7: rgb(212 212 212);
		--surface-green-1: rgb(11 46 28);
		--surface-green-2: rgb(10 63 39);
		--surface-green-3: rgb(31 157 96);
		--surface-menu-bar: rgb(15 15 15);
		--surface-modal: rgb(35 35 35);
		--surface-orange-1: rgb(64 31 7 / 0.8);
		--surface-pink-1: rgb(71 20 50 / 0.8);
		--surface-red-1: rgb(54 21 21 / 0.8);
		--surface-red-2: rgb(76 24 24 / 0.9);
		--surface-red-3: rgb(98 27 24);
		--surface-red-4: rgb(228 56 56);
		--surface-red-5: rgb(156 32 32);
		--surface-red-6: rgb(98 27 24);
		--surface-selected: rgb(255 255 255 / 0.1);
		--surface-violet-1: rgb(34 28 66);
		--surface-white: rgb(15 15 15);
		--text-icons-amber-1: rgb(255 255 255);
		--text-icons-amber-2: rgb(231 153 19);
		--text-icons-amber-3: rgb(231 153 19);
		--text-icons-blue-1: rgb(255 255 255);
		--text-icons-blue-2: rgb(90 174 242);
		--text-icons-blue-3: rgb(140 193 236);
		--text-icons-cyan-1: rgb(60 184 220);
		--text-icons-gray-1: rgb(35 35 35);
		--text-icons-gray-2: rgb(66 66 66);
		--text-icons-gray-3: rgb(113 113 113);
		--text-icons-gray-4: rgb(113 113 113);
		--text-icons-gray-5: rgb(128 128 128);
		--text-icons-gray-6: rgb(153 153 153);
		--text-icons-gray-7: rgb(175 175 175);
		--text-icons-gray-8: rgb(212 212 212);
		--text-icons-gray-9: rgb(248 248 248);
		--text-icons-green-1: rgb(255 255 255);
		--text-icons-green-2: rgb(53 174 116);
		--text-icons-green-3: rgb(120 215 169);
		--text-icons-pink-1: rgb(227 89 171);
		--text-icons-red-1: rgb(255 255 255);
		--text-icons-red-2: rgb(98 27 24);
		--text-icons-red-3: rgb(235 77 82);
		--text-icons-red-4: rgb(252 116 116);
		--text-icons-violet-1: rgb(157 124 234);
		--text-icons-white: rgb(15 15 15);
	}
}